<ion-header>
  <ion-toolbar>
    <ion-title> Formation Projet </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <img  src="./assets/DevClass.png">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-button
          [routerLink]="['/registration']"
          expand="block"
          
          
          >Register</ion-button
        >
      
        <h4><span>Already a user?</span></h4>
        <ion-button [routerLink]="['/login']" expand="block" color="dark"  
          >Sign In</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
